git+https://github.com/adsabs/ADSMicroserviceUtils.git@master
werkzeug
Flask==0.10.1
Flask-RESTful==0.3.5
requests==2.8.1
flask-discoverer==0.0.2
flask-consulate==0.1.2
Flask-SQLAlchemy
sqlalchemy-utils
psycopg2
alembic==0.8.1
